
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&family=Roboto&family=Tektur:wght@500&display=swap');

.color-change-2x-2 {
  animation: color-change-2x-2 6s infinite alternate;
}

*{
  font-family: 'Poppins', sans-serif;
}


@keyframes color-change-2x-2 {
  0% {
      background: #14121b;
  }
  
  100% {
      background:  rgb(73, 72, 72);
  }
}

.color-change-2x-1 {
  /* animation: color-change-2x-1 6s infinite alternate; */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1),  rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 2px solid rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}


/* 
@keyframes color-change-2x-1 {
  0% {

      background:  rgb(52, 50, 50);
  }
  
  100% {
    background: #282729;
  }
} */

.container{
    min-height: 200vh;
    max-height: 600vh;
    max-width: 100vw;
   
  }
  .container-wrapper {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensures vertical centering */
  }



  .event-item-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 1px; */
    width: 90vw;
    height: 100vh;
    /* margin-left: 10vw; */
    padding-top: 20vh;
   
  }

  @media (max-width: 1025px){
    .event-item-box{
      grid-template-columns: repeat(2, 2fr);
    }
    .container{
      height: 350vh
    }
  }

  
  @media (max-width: 689px){
    .event-item-box{
      grid-template-columns: repeat(1, 1fr);
    }
    .container{
      height: 570vh
    }
  }
  .event-item-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .event-item {
    width: 300px;
    height: 320px;
    margin: 2%;
    /* background-color: white; */
    /* border: 1px solid red; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .grid-img{
    height: 120px;
    width: 280px;
    /* background-color: rgb(220, 80, 80); */
    border: 2px solid  rgb(220, 80, 80);
    margin: 4%;
    border-radius: 10px;
  }
  .event-item button{
    height: 50px;
    width: 120px;
    padding: 1%;
    /* background-color: rgb(220, 80, 80); */
    color: white;
    background-color: transparent;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    margin: 2%;
  }
  .event-item button:hover{
    background-color: black;
    color: red;
  }

  












